<h1>Register</h1>

<div class="form-horizontal" ng-controller="registerCtrl">
    
    <div class="form-group">
        <label  class="control-label col-xs-2">First Name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control"  placeholder="First Name"
                   ng-model="user.firstname">
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-2">Last Name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control"  placeholder="Last Name"
                   ng-model="user.lastname">
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-2">Age</label>
        <div class="col-xs-4">
            <input type="text" class="form-control"  placeholder="Age"
                   ng-model="user.age">
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-2">Date Of Birth</label>
        <div class="col-xs-4">
           <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        </div>
    </div>
     <div class="form-group">
        <label  class="control-label col-xs-2">Gender</label>
        <div class="col-xs-4">
            <input type="radio" 
                   value="M"
                   ng-model="user.gender"
                   name="gender">Male
             <input type="radio"
                    value="F"
                    ng-model="user.gender" name="gender">Female
        </div>
    </div>
     <div class="form-group">
        <label  class="control-label col-xs-2">PhoneNumber</label>
        <div class="col-xs-4">
            <input type="text" 
                   placeholder="Phone Number"
                   class="form-control"
                   ng-model="user.phone"
                   >
           
        </div>
    </div>
    
     <div class="form-group">
        <label  class="control-label col-xs-2">Countries</label>
        <div class="col-xs-4">
            <select class="form-control"
                    ng-model="user.country"
                    ng-options ="data.name for data in countries"
                    ng-change="loadStatesByCountry()">
                <option value="">Please Select</option>
            </select>
           
        </div>
    </div>
     <div class="form-group">
        <label  class="control-label col-xs-2">Address</label>
        <div class="col-xs-4">
            <input type="text"
                   ng-model="asyncSelected" placeholder="Locations loaded via $http" 
                   uib-typeahead="address for address in getLocationFromMaps($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
        </div>
    </div>
     <div class="form-group">
        <label  class="control-label col-xs-2">State</label>
        <div class="col-xs-4">
            <select class="form-control"
                    ng-model="user.state"
                    ng-options ="data.name for data in states">
                <option value="">Please Select</option>
            </select>
           
        </div>
    </div>
     <div class="form-group">
        
        <div class="col-xs-offset-2 col-xs-4">
           <input type="checkbox" ng-model="user.agree">I agree Terms
        </div>
    </div>
   
    <div class="form-group" ng-if="user.agree">
        <div class="col-xs-offset-2 col-xs-4">
            <button ng-click="register()" class="btn btn-primary">Register</button>
        </div>
    </div>
    {{user}}
</div>